@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.map-wrapper {
    flex: 1;
    height: 100%;
    width: 100%;
}

.map-container {
    height: 100%;
    width: 100%;
}